/* body {
    margin: 0;
} */

.header,
.footer {
    height: 50px;
    width: 70%;
    margin: 0 auto;
}

.header {
    background-color: violet;
}

.footer {
    background-color: darkgoldenrod;
    position: fixed;
    right: 15%;
    bottom: 30px;
}

.main {
    height: 500px;
    background-color: crimson;
    position: relative;
}

.div1,
.div2,
.div3 {
    height: 100px;
    width: 50%;
    position: absolute;
}

.div1 {
    background-color: yellow;
    right: 0;
    top: 100px;
}

.div2 {
    background-color: blue;
    top: 0;
    right: 0;
}

.div3 {
    background-color: green;
    right: 0;
    top: 200px;
}